body {
    color: black;
    font-family: "PT Sans", Arial, serif;
    background-color: #f9f5f2;
}

/*******************HEADER***********************/
/************************************************/

/*******************MAIN***********************/
.page-heading {
    font-size: 30px;
    font-weight: normal;
    line-height: 42px;
}

.catalog-description {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px; 
}
/**********************************************/

/*******************FOOTER***********************/
/************************************************/
